body{
    height: 2000px;
}
.homePage_wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .homePage_header{
        position: relative;
        width: 100%;
        height: 750px;
        .scene{
            width: 100%;
            height: 650px;
            z-index: 2;
            .headerImg_w1{
                position: relative;
                width: 1099px;
                height: 139px;
                img{
                    position: absolute;
                    left: 650px;
                    top:350px;
                    transform: translate(-50%,-50%);
                    z-index: 1;
                }
            }
            .headerImg_w2{
                position: relative;
                font-size: 18px;
                text-align: center;
                width: 100%;
                letter-spacing: 5px;
                font-weight: 100;
                color: #fff;
                span{
                    position: absolute;
                    left: 555px;
                    top:600px;
                    text-align: center;
                    display: inline-block;
                    width: 195px;
                    height: 20px;
                    }
                }
                .headerImg_f{
                    position: relative;
                    width: 871px;
                    height: 503px;
                    img{
                        position: absolute;
                        left: 650px;
                        top: 400px;
                        transform: translate(-50%,-50%);
                        z-index: 10;
                    }
                }

                .headerImg_w3{
                    position: relative;
                    font-size: 16px;
                    text-align: center;
                    width: 100%;
                    letter-spacing: 5px;
                    font-weight: 100;
                    color: #888;
                    span{
                        position: absolute;
                        left: 500px;
                        top: 200px;
                        display: inline-block;
                        width: 285px;
                        height: 20px;
                    }
                }
                .headerImg_w4{
                    position: relative;
                    font-size: 16px;
                    text-align: center;
                    width: 100%;
                    letter-spacing: 5px;
                    font-weight: 100;
                    color: #888;
                    span{
                        position: absolute;
                        left: 530px;
                        top: 700px;
                        display: inline-block;
                        width: 235px;
                        height: 20px;
                    }
                }
            }
        .masking{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            z-index: 1;
        }

        }
}
